#!/bin/bash
set -euo pipefail

export DEBIAN_FRONTEND=noninteractive

apt-get update -y
apt-get install -y nginx

echo "${message}" > /var/www/html/index.html

systemctl enable nginx
systemctl restart nginx
